.pageSearch {
  position: relative;
}

.pageSearchContent {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  border: 1px solid red;
  width: 100%;
  z-index: 10;

  background-color: white;
}
